BeCharming.Common/Service References/ListenerService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ListenerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IListener_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IListener_OpenWebPage_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenWebPage" />
  </wsdl:message>
  <wsdl:message name="IListener_OpenWebPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenWebPageResponse" />
  </wsdl:message>
  <wsdl:message name="IListener_OpenDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenDocument" />
  </wsdl:message>
  <wsdl:message name="IListener_OpenDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IListener">
    <wsdl:operation name="OpenWebPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IListener/OpenWebPage" message="tns:IListener_OpenWebPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListener/OpenWebPageResponse" message="tns:IListener_OpenWebPage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IListener/OpenDocument" message="tns:IListener_OpenDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListener/OpenDocumentResponse" message="tns:IListener_OpenDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IListener" type="tns:IListener">
    <wsp:PolicyReference URI="#NetTcpBinding_IListener_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="OpenWebPage">
      <soap12:operation soapAction="http://tempuri.org/IListener/OpenWebPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenDocument">
      <soap12:operation soapAction="http://tempuri.org/IListener/OpenDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListenerService">
    <wsdl:port name="NetTcpBinding_IListener" binding="tns:NetTcpBinding_IListener">
      <soap12:address location="net.tcp://0.0.0.0:22001/becharming" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://0.0.0.0:22001/becharming</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>