BeCharming.Common/Service References/ListenerService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OpenWebPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="urlToOpen" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenWebPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenWebPageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpenDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OpenDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>